/* PLACE YOUR CUSTOM STYLES IN THIS FILE */
@font-face {
    font-family: 'Whitney-Semibold';
    src: url('fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/Whitney-Semibold.otf')  format('opentype'),
    url('fonts/Whitney-Semibold.woff') format('woff'), url('fonts/Whitney-Semibold.ttf')  format('truetype'), url('fonts/Whitney-Semibold.svg#Whitney-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.social-div-m{
    z-index: 999;
    position: fixed;
    top: 150px;
    right: 10px;
}
.social-div{
    cursor: pointer;
    margin-bottom: 10px;
    width: 21px;
    height: 21px;
}
.social-div:hover{
    opacity: 0.7;
}
.social-div img{
    width: 100%;
}
.nk-title{
    font-family: 'Whitney-Semibold';
    font-size: 55px;
}

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.clients .box{
    float: left;
    width: 20%;
}
/*.clients .box .nk-box-1, .nk-box-rounded-1 {*/
    /*padding: 10px;*/
/*}*/
.nk-portfolio-list .nk-portfolio-item.nk-portfolio-item-info-style-3 .portfolio-item-title,
.nk-portfolio-single .nk-portfolio-title{
    text-transform: uppercase;
}





@media screen and (max-width: 1024px){
    .clients .box{
        width: 33.33%;
    }
    .philosophy-img img{
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .social-div-m{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .clients .box {
        width: 50%;
    }
    .nk-title {
        padding: 5px;
        font-size: 32px;
    }
}